<!DOCTYPE html>
<html lang="de">

<head>
  <title>Seminare</title>

  <!--Grundaufbau HTML usw...-->
  <meta charset="utf-8">
  <link rel="stylesheet" type = "text/css" href ="css/style.css">
  <link rel="stylesheet" type="text/css" href="ss/flexbox.css">
  <!-- <style media="screen">
    datalist {
      display: inline;
    }
  </style> -->

</head>

<body class="containerColumn">
  <header>
      <%- include('Header'); %>
    </header>
  <nav class="navigationsleiste">
    <%- include('Nav'); %>
  </nav>
  <div class="containerMainAndASide">
  <main class ="containerMain flex-Items">
    <h1>Seminare</h1>
    <form action="https://labs.inf.fh-dortmund.de/seminarApp/testSearch.php" method="GET">
      <label>Seminartitel:
        <input type="text" name="semtitle" size="20" maxlength="20" placeholder="Suche" list="vorschlaege" pattern="*[0-20]">
        <datalist id="vorschlaege">
          <option value="Unternehmensgruendu">
        </datalist>
      </label>
      <button type="submit">Finden</button>
    </form>
      <h2>Seminarliste</h2>
      <table id="seminarliste">
        <thead>
          <tr>
            <th>Titel</th>
            <th>Datum</th>
            <th>Ort</th>
          </tr>
        </thead>
        <tbody>
          <% for (let seminar in seminare){ %>
            <tr>
                <td><%= seminar.titel %></td>
                <td><%= seminar.startzeit.getDate() %>.<%= seminar.startzeit.getMonth()+1 %>.
                <%= seminar.startzeit.getFullYear() %></td>
                <td><%= seminar.ort %></td>
            </tr>
         <% }; %>
        </tbody>
      </table>

  </main>
  <aside class="zusatzinfos">
    <%- include('Aside') %>
  </aside>
</div>
  <footer class="copyright"><%- include('Footer') %></footer>
  <script type="text/javascript" src="js/script.js">
    
  </script>
</body>

</html>
